#VS Code
.vscode/

#Jetbrains Setting Files
.idea/

#Binary File
*.out
*.o
*.so
*.a 

#Cmake Files
build/
cmake-build-debug/
cmake-build-release/

#Config File
*.json

#Compile Files
bin/
libs/

#Jupyter Notebook File
.ipynb_checkpoints/
*.ipynb

#Expection
!4_Pi/Pi_calc.so